@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

* {
  font-family: "Inter", sans-serif !important;
  font-optical-sizing: auto;
  font-style: normal;
}
/* global.css */
.avatar-shadow {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}
