.table-task {
  .ant-table-bordered {
    border: none !important;
  }

  .ant-table-cell {
    border: none !important;
  }

  .ant-table-cell::before {
    border: none !important;
    background-color: #fbfbfb !important;
  }
  .ant-table-thead > tr > th {
    background: #ffffff !important;
  }
}
